{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth":2,
  "arrowParens":"always",
  "proseWrap": "never",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
